@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Nunito Sans', sans-serif; for-nunito
font-family: 'Roboto', sans-serif; for-roboto */
header {
    font-family: 'Roboto';
    position: sticky;
    top: 0;
    transition: bottom .3s ease;
    z-index: 1000;
}

header>.contact-nav-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 30px 20px 30px;
    background: var(--dark-blue, #1B213F);
    color: white;
}

.contact-nav-pages {
    display: flex;
    align-items: center;
}

.contact-nav-pages>i {
    height: 37px;
    display: flex;
    align-items: flex-end;
    display: none;
}

.contact-nav-main>.contact-nav-pages>ul {
    display: flex;
    align-items: flex-end;
    height: 37px;
}

.contact-nav-main>.contact-nav-pages>ul>li {
    list-style-type: none;
}

.contact-nav-main>.contact-nav-pages>ul>li>a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: .3s;
}

.contact-nav-main>.contact-nav-pages>ul>li>a:after {
    content: "";
    background-color: #65C2CB;
    width: 0;
    height: 2px;
    position: absolute;
    top: -5px;
    left: 0;
    border-radius: 5px;
    transition: .3s ease;
}

.contact-nav-main>.contact-nav-pages>ul>li>a:hover:after {
    width: 100%;
}

.contact-nav-main>.contact-nav-pages>ul>li>a:hover {
    color: #65C2CB;
}

.contact-nav-main>.contact-nav-pages>ul>li:not(:last-child) {
    margin-right: 25px;
}

.contact-nav-main>.contact-nav-curr-lang {
    display: flex;
}

.contact-nav-main>.contact-nav-curr-lang>div {
    display: flex;
    align-items: center;
}

.contact-nav-main>.contact-nav-curr-lang>div:first-child {
    margin-right: 30px;
}

.contact-nav-main>.contact-nav-curr-lang *>p {
    margin-right: 5px;
}

.contact-nav-secondary {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #FFF;
}

.contact-nav-secondary-logo-search-box {
    display: flex;
    align-items: center;
}


.logo>a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo>a>svg:last-child {
    margin-left: 10px;
}

.logo>svg:first-child {
    margin-right: 6.64px;
    height: 40px;
    width: 50px;
}

.logo>svg:last-child {
    width: 57px;
    height: 23px;
}

.contact-search-box {
    display: flex;
    margin-left: 80px;
    border: 1px solid black;
    padding: 10px 60px 10px 10px;
}

.contact-search-box>svg {
    margin-right: 20px;
}

.contact-search-box>label>input {
    border: none;
    position: relative;
}

.contact-search-box>label>input::placeholder {
    color: #838383;
}

.contact-search-box>label>input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.contact-nav-secondary>.contact-nav-secondary-buttons {
    display: flex;
    align-items: center;
}

.contact-nav-secondary>.contact-nav-secondary-buttons>svg {
    margin-right: 30px;
    height: 19px;
}

.contact-btn-create-account {
    border: 1px solid #3B8AC9;
    color: #3B8AC9;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 30px;
    position: relative;
    z-index: 1001;
    /* transition: .3s ease-in-out; */
}

.contact-btn-create-account:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 40px;
    background-color: #3B8AC9;
    z-index: -1;
    transition: .5s ease;
}

.contact-btn-create-account:hover:after {
    width: 100%;
}

.contact-btn-create-account:hover {
    color: white;
    cursor: pointer;
}

.contact-btn-login {
    padding: 10px 20px;
    background-color: #3B8AC9;
    border: 1px solid #3B8AC9;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}





main>.contact-part {
    background-color: #3B8AC9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

main>.contact-part>.contact-heading {
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.additional-questions {
    display: flex;
    justify-content: space-between;
    padding: 80px 130px;
    align-items: center;
}

.additional-questions>.additional-questions-text>h1 {
    font-size: 45px;
    font-weight: 600;
    font-family: 'Roboto';
}

.additional-questions>.additional-questions-text>.contact-text {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Nunito Sans';
    margin-top: 50px;
    margin-bottom: 30px;
}

.contact-email {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Nunito Sans';
}

.additional-questions>.additional-questions-image {
    width: 580px;
    height: 448px;
    background-image: url(./assets/additional-questions-image.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-course-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 130px;
    width: 100%;
    position: relative;
}
.contact-course-cards>i{
    display: none;
}

.contact-course-cards>.carousel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.design-card {
    background-image: url(./assets/design-card.jpeg);
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 312px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-card-main {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 180px;
    height: 200px;
}

.design-card-main>h2 {
    color: rgba(59, 138, 201, 1);
    font-family: 'Roboto';
    margin-bottom: 10px;
    font-size: 20px;
}

.design-card-main>p {
    font-size: 14px;
    font-family: 'Nunito Sans';
}



.front-end-card {
    background-image: url(./assets/front-end-card.jpeg);
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 312px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-end-card-main {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 180px;
    height: 200px;
}

.front-end-card-main>h2 {
    color: rgba(59, 138, 201, 1);
    font-family: 'Roboto';
    margin-bottom: 10px;
    font-size: 20px;
}

.front-end-card-main>p {
    font-size: 14px;
    font-family: 'Nunito Sans';
}

.back-end-card {
    background-image: url(./assets/back-end-card.jpeg);
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 312px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-end-card-main {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 180px;
    height: 200px;
}

.back-end-card-main>h2 {
    color: rgba(59, 138, 201, 1);
    font-family: 'Roboto';
    margin-bottom: 10px;
    font-size: 20px;
}

.back-end-card-main>p {
    font-size: 14px;
    font-family: 'Nunito Sans';
}


.qa-card {
    background-image: url(./assets/qa-card.jpeg);
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 312px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qa-card-main {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 180px;
    height: 200px;
}

.qa-card-main>h2 {
    color: rgba(59, 138, 201, 1);
    font-family: 'Roboto';
    margin-bottom: 10px;
    font-size: 20px;
}

.qa-card-main>p {
    font-size: 14px;
    font-family: 'Nunito Sans';
}

.contact-with-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
    padding: 60px 50px;
}

.contact-with-us-text {
    font-family: 'Roboto';
    margin-bottom: 30px;
}

.contact-with-us-register {
    margin-right: 40px;
}

.contact-with-us-register>form {
    display: flex;
    flex-direction: column;
    border: 1px solid #FFF;
    background-color: #FFF;
    padding: 30px;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
}

.contact-with-us-register>form>label {
    margin-bottom: 20px;
}

.contact-with-us-register>form>label:not(.name-surname-input)>input {
    padding: 10px;
    border: 1px solid #838383;
    color: #838383;
    width: 100%;
}

.name-surname-input>input {
    padding: 10px;
    border: 1px solid #838383;
    color: #838383;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
}

.name-surname-input>input:not(:last-child) {
    margin-right: 20px;
}

.contact-with-us-register>form>label>input:focus {
    outline: none;
}

.contact-with-us-register>form>textarea {
    padding: 10px;
    border: 1px solid #838383;
    color: #838383;
    margin-bottom: 20px;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
    height: 100px;
}

.contact-with-us-register>form>textarea:focus {
    outline: none;
}

.contact-with-us-register>form>a {
    color: #838383;
    margin-bottom: 20px;
}

.contact-with-us-register>form>button {
    width: 177px;
    background-color: #3B8AC9;
    border: 1px solid #3B8AC9;
    border: none;
    padding: 10px;
    color: white;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
    position: relative;
    transition: .2s;
}
.contact-with-us-register>form>button>span{
    position: absolute;
    display: block;
    background: #3B8AC9;
}
.contact-with-us-register>form>button>span:first-child{
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s;
}
.contact-with-us-register>form>button>span:nth-child(2){
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform .3s;
}
.contact-with-us-register>form>button>span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}
.contact-with-us-register>form>button>span:nth-child(4){
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform .3s;
}
.contact-with-us-register>form>button:hover .top-border{
    transform: scaleX(1);
    transition-delay: .1s;
}
.contact-with-us-register>form>button:hover .right-border{
    transform: scaleY(1);
    transition-delay: .2s;
}
.contact-with-us-register>form>button:hover .bottom-border{
    transform: scaleX(1);
    transition-delay: .3s;
}
.contact-with-us-register>form>button:hover .left-border{
    transform: scaleY(1);
    transition-delay: .4s;
}
.contact-with-us-register>form>button:hover {
    cursor: pointer;
    background: transparent;
    color: #3B8AC9;
}

.contact-with-us-details {
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 400;
}

.contact-with-us-details>div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-with-us-details>div>p {
    margin-left: 20px;
}

.contact-with-us-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#map {
    width: 100%;
    height: 700px;
}

footer {
    background-color: #1B213F;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer>.footer-main {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

footer>.footer-codeart-logo {
    height: 41px;
}

.footer-logo>svg:first-child {
    height: 41px;
    margin-right: 5px;
}

.footer-logo>svg:last-child {
    height: 24px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer-social-medias>p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans';
    margin-bottom: 40px;
}

.footer-social-media-logoes {
    display: flex;
    align-items: center;
}

.footer-social-media-logoes>div:not(.footer-linkedln) {
    border: 1px solid #31385A;
    background-color: #31385A;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-linkedln {
    border: 1px solid rgba(59, 138, 201, 1);
    background-color: rgba(59, 138, 201, 1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media-logoes>div:not(:last-child) {
    margin-right: 20px;
}

.footer-main-top-catagories>h2 {
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Nunito Sans';
}

.footer-main-top-catagories>ul>li {
    list-style-type: none;
}

.footer-main-top-catagories>ul>li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-main-top-catagories>ul>li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
}

.footer-quick-links>h2 {
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Nunito Sans';
}

.footer-quick-links>ul>li {
    list-style-type: none;
}

.footer-quick-links>ul>li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-quick-links>ul>li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
}

.news {
    border-bottom: 2px solid #3B8AC9;
}

.news>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-support>h2 {
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Nunito Sans';
}

.footer-support>ul>li {
    list-style-type: none;
}

.footer-support>ul>li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-support>ul>li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
}

.footer-app>h2 {
    color: white;
    font-family: 'Nunito Sans';
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-app-for-app-store {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #31385A;
    background-color: #31385A;
    padding: 5px;
}

.app-store-logo {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.app-store-text>a {
    color: white;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
}

.footer-app-for-play-store {
    display: flex;
    align-items: center;
    border: 1px solid #31385A;
    background-color: #31385A;
    padding: 5px 5px 5px 12px;
}

.play-store-logo {
    margin-right: 10px;
    height: 32px;
    width: 34px;
}

.play-store-text>a {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.laws {
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    font-family: 'Nunito Sans';
}

.laws>p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.20);
}

.footer-laws-lang {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 5px 10px;
}

.footer-laws-lang>p {
    margin-right: 25px;
    color: rgba(255, 255, 255, 0.20);
}

@media screen and (max-width : 1400px) {
    .additional-questions-text {
        margin-right: 20px;
    }

    .contact-course-cards {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .contact-course-cards>div {
        justify-content: center;
        margin-bottom: 40px;
    }
}

@media (max-width : 1100px) {
    .contact-nav-secondary-logo-search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .contact-nav-secondary {
        display: flex;
        justify-content: center;
    }

    .contact-search-box {
        margin: 0;
    }

    .contact-course-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: space-between;
    }
    main>.contact-course-cards>i{
        padding: 10px 16px;
        border-radius: 50%;
        background-color: #3B8AC9;
        color: white;
        font-size: 30px;
        display: block;
    }
    main>.contact-course-cards>i:first-child{
        position: absolute;
        left: 70px;
        top: 200px;
        z-index: 10;
    }
    main>.contact-course-cards>i:last-child{
        position: absolute;
        right: 70px;
        top: 200px;
        z-index: 10;
    }
    main>.contact-course-cards>.carousel{
        max-width: 1000px;
        min-width: 300px;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
    }
    /* main>.contact-course-cards>.carousel{
        cursor: grab;
        scroll-behavior: auto;
    } */
    main>.contact-course-cards>.carousel>div:not(:last-child){
        margin-right: 30px;
        /* pointer-events: none; */
    }
    .logo>a>svg {
        margin: 0;
        align-items: flex-end;
    }

    .logo>a>svg {
        width: 80px;
        height: 80px;
    }

    .logo>a>svg:last-child {
        width: 90px;
        height: 90px;
    }

    .contact-nav-secondary>.contact-nav-secondary-buttons {
        display: none;
    }


    .additional-questions {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .additional-questions-text {
        margin-bottom: 40px;
        margin-right: 0;
    }

    .contact-nav-main>.contact-nav-pages>ul {
        display: none;
    }

    main>.contact-part {
        height: 95px;
    }

    .contact-nav-pages>i {
        display: flex;
        font-size: 20px;
    }

    .cotact-with-us {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%, -50%);
    }

    .contact-with-us-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-with-us-register {
        margin-bottom: 50px;
    }

    .contact-with-us-register>form {
        width: calc(100vw/2);
    }

    .contact-with-us-register {
        margin-right: 0;
    }

    .contact-with-us-register>form>.name-surname-input {
        display: flex;
        flex-direction: column;
    }

    .contact-with-us-register>form>.name-surname-input>input {
        width: 100%;
    }

    .contact-with-us-register>form>.name-surname-input>input:first-child {
        margin-bottom: 20px;
    }

    .footer-main {
        flex-wrap: wrap;
    }

    .footer-main>div {
        margin-bottom: 30px;
        margin-right: 20px;
    }
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2px rgb(218, 218, 218); */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 219);
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(208, 208, 208);
}