@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Nunito Sans', sans-serif; for-nunito
font-family: 'Roboto', sans-serif; for-roboto */
header {
    font-family: 'Roboto';
    position: sticky;
    top: -2px;
    z-index: 10;
}

#menuBar {
    display: none;
    font-size: 20px;
}

.home-menu {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1B213F;
    height: 100vh;
    color: white;
    padding: 30px;
    width: 300px;
    display: none;
    transition: left .3s ease;
}

.home-menu>i {
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 12px;
    margin-bottom: 30px;
}

.home-menu-logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.home-menu-logo>img:first-child {
    margin-right: 20px;
    width: 60px;
    height: 70px;
}

.home-menu-logo>img:last-child {
    width: 80px;
}

.home-menu-pages {
    margin-bottom: 50px;
}

.home-menu-pages>ul>li {
    list-style-type: none;
}

.home-menu-pages>ul>li>a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 20px;
}

.home-menu-pages>ul>li>a:after {
    content: "";
    width: 0;
    height: 0.06cm;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: #3B8AC9;
    border-radius: 2px;
    transition: .3s ease;

}

.home-menu-pages>ul>li>a:hover:after {
    width: 100%;
}

.home-menu-pages>ul>li>a:hover {
    color: #3B8AC9;
}

.home-menu-pages>ul>li:not(:last-child) {
    margin-bottom: 15px;
}

.home-menu-buttons {
    display: flex;
    flex-direction: column;
}

.home-menu-buttons>button:not(:last-child) {
    margin-bottom: 20px;
}

.home-menu-buttons>.home-menu-create-account-btn {
    border: 2px solid #3B8AC9;
    color: #3B8AC9;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 30px;
    background-color: transparent;
    width: 100%;
    position: relative;
    color: white;
    z-index: 1001;
}

.home-menu-buttons>.home-menu-create-account-btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 40px;
    background-color: #3B8AC9;
    transition: .5s ease;
    z-index: -1;
}

.home-menu-buttons>.home-menu-create-account-btn:hover:after {
    width: 100%;
}

.home-menu-buttons>.home-menu-create-account-btn:hover {
    cursor: pointer;
}

.home-menu-buttons>.home-menu-login-btn {
    padding: 10px 20px;
    background-color: #3B8AC9;
    border: 1px solid #3B8AC9;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

header>.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 30px 20px 30px;
    background: var(--dark-blue, #1B213F);
    color: white;
}

header>.nav-pages>i {
    font-size: 30px;
    color: white;
}

.nav-main>.nav-pages>ul {
    display: flex;
    align-items: flex-end;
    height: 37px;
}

.nav-main>.nav-pages>ul>li {
    list-style-type: none;
}

.nav-main>.nav-pages>ul>li>a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: .3s;
}

.nav-main>.nav-pages>ul>li>a:after {
    content: "";
    background-color: #65C2CB;
    width: 0;
    height: 2px;
    position: absolute;
    top: -5px;
    left: 0;
    border-radius: 5px;
    transition: .3s ease;
}

.nav-main>.nav-pages>ul>li>a:hover:after {
    width: 100%;
}

.nav-main>.nav-pages>ul>li>a:hover {
    color: #65C2CB;
}

.nav-main>.nav-pages>ul>li:not(:last-child) {
    margin-right: 25px;
}

.nav-main>.nav-curr-lang {
    display: flex;
}

.nav-main>.nav-curr-lang>div {
    display: flex;
    align-items: center;
}

.nav-main>.nav-curr-lang>div:first-child {
    margin-right: 30px;
}

.nav-currency {
    position: relative;
}

.nav-currency>.home-change-currency {
    position: absolute;
    top: 25px;
    color: black;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;
    z-index: 11;
    display: none;
}

.nav-currency>.home-change-currency>div {
    padding: 5px 10px;
}

.nav-currency>.home-change-currency>div:hover {
    cursor: pointer;
}

.nav-currency>.home-change-currency>div:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.language {
    position: relative;
    display: none;
}

.language>.home-change-language {
    position: absolute;
    top: 25px;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;
    z-index: 11;
    color: black;
}

.language>.home-change-language>div {
    padding: 5px;
    width: 100%;
}

.language>.home-change-language>div:hover {
    cursor: pointer;
}

.language>.home-change-language>div:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.nav-main>.nav-curr-lang *>svg {
    margin-left: 5px;
}

.nav-secondary {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: white;
}

.nav-secondary-logo-search-box {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>img:first-child {
    margin-right: 6.64px;
    height: 50px;
    width: 70px;
}

.logo>img:last-child {
    width: 100px;
    height: 40px;
}

.search-box {
    display: flex;
    margin-left: 80px;
    border: 1px solid black;
    padding: 10px 60px 10px 10px;
}

.search-box>svg {
    margin-right: 20px;
}

.search-box>label>input {
    border: none;
    position: relative;
}

.search-box>label>input::placeholder {
    color: #838383;
}

.search-box>label>input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.nav-secondary>.nav-secondary-buttons {
    display: flex;
    align-items: center;
}

.nav-secondary>.nav-secondary-buttons>img {
    margin-right: 30px;
    height: 19px;
}

.btn-create-account {
    border: 1px solid #3B8AC9;
    color: #3B8AC9;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 30px;
    position: relative;
    z-index: 4;
}

.btn-create-account:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 40px;
    background-color: #3B8AC9;
    z-index: 3;
    transition: .7s ease;
}

.btn-create-account:hover:after {
    width: 100%;
}

.btn-create-account:hover {
    color: white;
    cursor: pointer;
}

.btn-login {
    padding: 10px 20px;
    background-color: #3B8AC9;
    border: 1px solid #3B8AC9;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

main>.main-top-start-learn {
    background-image: linear-gradient(82deg, rgba(1, 0, 9, 0.85) 7.99%, rgba(0, 0, 0, 0.00) 86.13%), url(./assets/main-section-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 140px 130px;
}

main>.main-top-start-learn>h1 {
    font-family: 'Roboto';
    font-size: 48px;
    color: #3B8AC9;
    margin-bottom: 20px;
}

main>.main-top-start-learn>h1>span {
    color: white;
}

main>.main-top-start-learn>p {
    font-size: 20px;
    font-family: 'Nunito Sans';
    color: white;
    margin-bottom: 20px;
}

main>.main-top-start-learn>button {
    padding: 10px 20px;
    background-color: #3B8AC9;
    border: 1px solid #3B8AC9;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

main>.main-top-start-learn>button:hover {
    cursor: pointer;
    background: transparent;
}

main>.the-most-demanding-courses {
    font-family: 'Nunito Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 300px);
    margin: 50px auto;
}

main>.the-most-demanding-courses>h1 {
    margin-bottom: 30px;
}

main>.the-most-demanding-courses>.wrapper {
    display: flex;
}

main>.the-most-demanding-courses>.wrapper>i {
    display: none;
}

main>.the-most-demanding-courses>.wrapper>.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main>.the-most-demanding-courses>.wrapper>.carousel>div {
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgb(207, 207, 207);
}

main>.the-most-demanding-courses>.wrapper>.carousel>div>div:last-child {
    background-color: white;
    /* font-weight: bold; */
    padding: 10px;
}

main>.the-most-demanding-courses>.wrapper>.carousel>div>div:last-child>p:first-child {
    border: 1px solid #65C2CB;
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: #65C2CB;
    margin-bottom: 10px;
}

main>.home-start-course-now {
    font-family: 'Roboto';
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    background-color: #3B8AC9;
    width: calc(100vw - 300px);
    padding: 20px;
}

main>.home-start-course-now>article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

main>.home-start-course-now>article>button {
    font-family: 'Roboto';
    padding: 15px;
    width: 180px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #3B8AC9;
    background-color: white;
    border: 1px solid white;
}

main>.home-start-course-now>article>button:hover {
    cursor: pointer;
}

main>.home-start-course-now>article>button:hover img {
    transform: translateX(20px);
    transition: 500ms;
}

main>.home-start-course-now>article>h2 {
    margin-bottom: 20px;
}

main>.home-start-course-now>article>p {
    text-align: center;
    margin-bottom: 30px;
}

main>.advantages {
    font-family: 'Roboto';
    margin: 100px auto;
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>.advantages>h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

main>.advantages>article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 200px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 10px rgb(199, 199, 199);
}

main>.advantages>article>*>div {
    display: flex;
    align-items: center;
}

main>.advantages>article>*>div>p:first-child {
    font-size: 140px;
    color: #65C2CB;
    font-weight: bold;
    margin-right: 30px;
}

main>.advantages>article>*>div>p:last-child {
    font-size: 24px;
}


main>.home-teachers{
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100vw - 300px);
    margin: 50px auto;
}
main>.home-teachers >i {
    display: none;
}
main>.home-teachers>h1{
    margin: 20px auto;
}
main>.home-teachers>.home-teachers-cards{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
main>.home-teachers>.home-teachers-cards>div{
    box-shadow: 2px 2px 10px gray;
    width: calc((100vw - 300px)/3 - 20px);
}
main>.home-teachers>.home-teachers-cards>div>div:first-child{
    text-align: center;
    /* padding: 20px 30px 0 30px; */
}
main>.home-teachers>.home-teachers-cards>div>div:last-child{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
}
main>.home-teachers>.home-teachers-cards>div:first-child{
    background-color: #3B8AC9;
}
main>.home-teachers>.home-teachers-cards>div:nth-child(2){
    background-color: #1B213F;
}
main>.home-teachers>.home-teachers-cards>div:last-child{
    background-color: #65C2CB;
}
main>.home-teachers>.home-teachers-cards>div>div:last-child>*{
    margin-block: 8px;
}
footer {
    background-color: #1B213F;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer>.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

footer>.footer-main>div {
    margin-bottom: 30px;
}

footer>.footer-codeart-logo {
    height: 41px;
}

.footer-logo>img:first-child {
    height: 51px;
    margin-right: 5px;
}

.footer-logo>img:last-child {
    height: 34px;
    margin-left: 5px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer-social-medias>p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans';
    margin-bottom: 40px;
}

.footer-social-media-logoes {
    display: flex;
    align-items: center;
}

.footer-social-media-logoes>div {
    transition: .3s ease;
}

.footer-social-media-logoes>div:not(.footer-linkedln) {
    border: 1px solid #31385A;
    background-color: #31385A;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media-logoes>div:hover {
    background-color: #3B8AC9;
    cursor: pointer;
}

.footer-linkedln {
    border: 1px solid rgba(59, 138, 201, 1);
    background-color: rgba(59, 138, 201, 1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media-logoes>div:not(:last-child) {
    margin-right: 20px;
}

.footer-main-top-catagories>h2 {
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Nunito Sans';
}

.footer-main-top-catagories>ul>li {
    list-style-type: none;
}

.footer-main-top-catagories>ul>li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-main-top-catagories>ul>li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    transition: .3s ease;
}

.footer-main-top-catagories>ul>li>a:hover {
    color: #3B8AC9;
}

.footer-quick-links>h2 {
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Nunito Sans';
}

.footer-quick-links>ul>li {
    list-style-type: none;
}

.footer-quick-links>ul>li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-quick-links>ul>li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    transition: .3s ease;
}

.footer-quick-links>ul>li>a:hover {
    color: #3B8AC9;
}

.news {
    border-bottom: 2px solid #3B8AC9;
}

.news>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-support>h2 {
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Nunito Sans';
}

.footer-support>ul>li {
    list-style-type: none;
}

.footer-support>ul>li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-support>ul>li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    transition: .3s ease;
}

.footer-support>ul>li>a:hover {
    color: #3B8AC9;
}

.footer-app>h2 {
    color: white;
    font-family: 'Nunito Sans';
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-app-for-app-store {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #31385A;
    background-color: #31385A;
    padding: 5px;
}

.app-store-logo {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.app-store-text {
    color: white;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
}

.footer-app-for-play-store {
    display: flex;
    align-items: center;
    border: 1px solid #31385A;
    background-color: #31385A;
    padding: 5px 5px 5px 12px;
}

.play-store-logo {
    margin-right: 10px;
    height: 32px;
    width: 34px;
}

.play-store-text {
    color: white;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
}

.laws {
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    font-family: 'Nunito Sans';
}

.laws>p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.20);
}

.footer-laws-lang {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 5px 10px;
}

.footer-laws-lang>p {
    margin-right: 25px;
    color: rgba(255, 255, 255, 0.20);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2px rgb(218, 218, 218); */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 219);
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(208, 208, 208);
}

@media (max-width: 1400px) {
    .the-most-demanding-courses>div>div {
        flex-wrap: wrap;
    }
}

@media (max-width: 1100px) {
    .nav-main>.nav-pages>ul {
        display: none;
    }

    #menuBar {
        display: block;
        padding-top: 20px;
    }

    .nav-secondary>.nav-secondary-buttons {
        display: none;
    }

    .nav-secondary-logo-search-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .advantages {
        display: flex;
        justify-content: space-between;
    }

    main>.advantages>article {
        padding: 20px 50px;
    }

    main>.the-most-demanding-courses>.wrapper {
        position: relative;
    }

    main>.the-most-demanding-courses>.wrapper i {
        display: block;
        border: 1px solid #3B8AC9;
        height: fit-content;
        padding: 12px 15px;
        border-radius: 50%;
        color: white;
        background-color: #3B8AC9;
        font-size: 20px;
    }

    main>.the-most-demanding-courses>.wrapper i:first-child {
        position: absolute;
        left: -25px;
        top: calc(50% - 40px);
        display: none;
    }

    main>.the-most-demanding-courses>.wrapper i:last-child {
        position: absolute;
        right: -25px;
        top: calc(50% - 40px);
        /* display: none; */
    }

    main>.the-most-demanding-courses>.wrapper>.carousel>div:not(:last-child) {
        margin-right: 20px;
    }

    main>.the-most-demanding-courses>.wrapper>.carousel {
        max-width: calc(100vw - 300px);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
    }

    main>.the-most-demanding-courses>.wrapper>.carousel.dragging {
        cursor: grab;
        scroll-behavior: auto;
    }
    main>.home-start-course-now>div{
        display: none;
        flex-wrap: wrap;
    }
    main>.home-teachers{
        position: relative;
        width: 500px;
        flex-wrap: nowrap;
    }
    main>.home-teachers > i{
        display: none;
    }
    main>.home-teachers>#left{
        position: absolute;
        top: 200px;
        left: -50px;
        border: 1px solid #3B8AC9;
        padding: 12px 15px;
        border-radius: 50%;
        z-index: 9;
        background-color: #3B8AC9;
        color: white;
    }
    main>.home-teachers>#right{
        position: absolute;
        top: 200px;
        right: -50px;
        border: 1px solid #3B8AC9;
        padding: 12px 15px;
        border-radius: 50%;
        z-index: 9;
        background-color: #3B8AC9;
        color: white;
    }
    /* main>.home-teachers>.home-teachers-cards{
        justify-content: space-between;
        max-width: calc(100vw - 300px);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
    } */
    main>.home-teachers>.home-teachers-cards>div{
        margin-right: 20px;
    }
    main>.home-teachers>.home-teachers-cards{
        display: flex;
        flex-wrap: wrap;
        width: calc(100vw / 2);
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 500px){
    header>.nav-secondary>.nav-secondary-logo-search-box>.search-box{
        display: none;
    }
    header>.nav-secondary>.nav-secondary-logo-search-box{
        display: flex;
        justify-content: center;
    }
    main>.advantages{
        display: none;
    }
    header{
        width: 100%;
    }
    main>.home-teachers{
        display: none;
    }
    main>.main-top-start-learn{
        background-position: center;
        padding: 20px;
    }
    main>.main-top-start-learn>h1{
        font-size: 25px;
    }
    main>.main-top-start-learn>p{
        font-size: 15px;
        width: 250px;
    }
    main>.the-most-demanding-courses{
        margin: 20px auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main>.the-most-demanding-courses>.carousel{
        width: calc(100% + 200px);
        min-width: 400px;
    }
    main>.home-start-course-now{
        margin: 0;
        width: 100%;
    }
    footer>.footer-main{
        margin-right: 20px;
    }
}